h1, h2, h3, h4, h5 {
    font-family: var(--font-literata);
    line-height: 1.2;
    font-optical-sizing: auto;
    font-weight: 300
}

.no-break {
    white-space: nowrap;
}
h1, 
h2.service-section-heading {
    font-size: clamp(2.5rem, 4vw, 3.125rem);
}
h1.large {
    font-size: clamp(4rem, 4vw, 5.3rem);
    line-height: 1;
}
h2 {
    font-size: clamp(2rem, 4vw, 2.5rem);
}
.lead {
    font-size: 1.375rem;
    font-weight: 400;
    line-height: 2.1875rem;
}
.split-text {
    color: rgba(255, 255, 255, 0)
}
.split-text-coffee {
    color: rgba(48, 15, 29, 0)
}
.hero-title,
h2.service-section-heading {
    font-family: var(--font-aeonik);
    font-weight: 300;
}
.hero-title span,
h2.service-section-heading span {
    font-family: var(--font-literata);
    font-weight: 300;
}
.next-title-wrapper {
    position:absolute;
    top: 3rem;
    left: 0;
    right: 0;
    z-index: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding-bottom: 3rem
}
.show-title-wrapper {
    position:absolute;
    bottom: -40px;
    left: 0;
    right: 0;
    z-index: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    pointer-events: none
}
.next-title,
.show-title {
    font-size: clamp(12.5rem, 21vw, 18.75rem);
    white-space: nowrap;
    font-weight: 300;
    line-height: 1;
    text-align: center;
}
.show-title {
    transform: translateX(200vw);
    opacity: 1
}